@charset "utf-8";

html {
    overflow-y: auto;
}

body{
    width: 100%;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: quake;
    src: url(../quake-dpquake/dpquake_.ttf);
}

:root {
    --quake-brown: #9c4c25;
    --dark-brown: #1f1d17;
}

.wrapper {
    font-family: quake;
    background-color: aqua;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

p, td, tr {
    font-size: 1rem;
}

.container-box {
    width: 80%;
}

.main-content {
    display: flex;
}

.logo-container {
    min-width: 5rem;
    background-color: var(--quake-brown);
}

.game-title {
    text-orientation: upright;
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-brown);
    writing-mode: vertical-lr;
    display: block;
    position: relative;
}

.game-title:before,
.game-title:after {
    content: attr(title);
    position: absolute;
    color: rgba(50, 50, 50, 0.4);

}

.game-title::before {
    top: 1.04rem;
    left: 0.05rem;
  }

.game-title::after {
    top: 1.08rem;
    left: 0.05rem;
}

#logo {
    width: 122px;
    height: 554px;
    background: url(../sprites/PC_Computer_Quake_Menu_Assets_resize.png) -3px -2px;
}

.menu-screen {
    text-align: center;
    flex-grow: 1;
}

.buttons {
    display: flex;
    background: pink;
}

.buttons button:nth-child(2) {
    margin-left: auto;
}


/* Menu Headings Sprites*/

.main-menu-heading {
    width: 369px;
    height: 92px;
    background: url(../sprites/PC_Computer_Quake_Menu_Assets_resize.png) -129px -2px;
}

.single-heading {
    width: 494px;
    height: 92px;
    background: url(../sprites/PC_Computer_Quake_Menu_Assets_resize.png) -962px -2px;
}

.load-heading {
    width: 400px;
    height: 92px;
    background: url(../sprites/PC_Computer_Quake_Menu_Assets_resize.png) -129px -194px;
}

.multiplayer-heading {
    width: 831px;
    height: 92px;
    background: url(../sprites/PC_Computer_Quake_Menu_Assets_resize.png) -962px -98px;
}

.options-heading {
    width: 555px;
    height: 92px;
    background: url(../sprites/PC_Computer_Quake_Menu_Assets_resize.png) -129px -290px;
}

.menu-item {
    position: relative;
}

.menu-item:hover:before {
    content: '';
    top: -16px;
    left: 0px;
    width: 64px;
    height: 64px;
    position: absolute;
    background: url(../sprites/quake_cursor.png) 0px 0px;
    animation: quake-cursor 1s steps(6) infinite;

}

@keyframes quake-cursor {
    100% { background-position: -384px 0; }
  }