@charset "utf-8";

html {
    overflow-y: auto;
}

body{
    width: 100%;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: quake;
    src: url(../quake-dpquake/dpquake_.ttf);
}

/* Set font for large menu text */
.quake-large {
    font-size: 2rem;
    font-weight: bold;
    color: var(--quake-brown);
    text-shadow: -1px -1px 1px rgba(231, 231, 229, 0.5), 1px 1px 2px black;

    /* background-image: url(../sprites/brown-dirt-minecraft-pattern_thumb.jpg);
    background-size: 7%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text; */
}

/* Set small menu font */
.quake-small,
table {
    color:rgba(200, 195, 195, 1);
    font-size: 1.2rem;
    font-family: quake;
    font-weight: bold;
}

table th {
    color: var(--quake-brown);
}

:root {
    --quake-brown: #9c4c25;
    --dark-brown: #1f1d17;
    --menu-special: rgb(150, 80, 10);
}

.menu-special {
    color: var(--menu-special);
}

.wrapper {
    font-family: quake;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 4rem;
}

p, td, tr {
    font-size: 1rem;
}

.controls {
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.3);
    padding: 10px;
    line-height: 1.5rem;
    border-radius: 3px;
}

.controls p {
    font-size: 1.5rem;
    font-weight: bold;
}

.controls button {
    display: inline-block;
    background: pink;
}

.container-box {
    width: 70%;
}

.main-content {
    display: flex;
}

.logo-container {
    min-width: 5rem;
}

.game-title {
    text-orientation: upright;
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-brown);
    writing-mode: vertical-lr;
    display: block;
    position: relative;
}

.game-title:before,
.game-title:after {
    content: attr(title);
    position: absolute;
    color: rgba(50, 50, 50, 0.4);
}

.game-title::before {
    top: 1.04rem;
    left: 0.05rem;
  }

.game-title::after {
    top: 1.08rem;
    left: 0.05rem;
}

#logo {
    width: 120px;
    height: 550px;
    background: url(../sprites/PC_Computer_Quake_Menu_Assets_resize.png) -4px -4px;
}

.menu-screen {
    text-align: center;
    flex-grow: 1;
}

.back-select-container {
    display: flex;
}

.back-select-container button:nth-child(2) {
    margin-left: auto;
}

.ui-button {
    background: none;
    border: none;
    margin-top: 20px;
}

.ui-button span {
    display: inline-flex;
    line-height: 1;
    background: rgba(26, 21, 21, 0.4);
    color: white;
    width: 1.8rem;
    height: 1.8rem;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(231, 231, 229, 0.5);
    border-radius: 50%;
    
}

/* Menu Headings Sprites*/

.main-menu-heading {
    width: 366px;
    height: 89px;
    background: url(../sprites/PC_Computer_Quake_Menu_Assets_resize.png) -131px -4px;
}

.single-heading {
    width: 489px;
    height: 89px;
    background: url(../sprites/PC_Computer_Quake_Menu_Assets_resize.png) -965px -4px;
}

.load-heading {
    width: 397px;
    height: 89px;
    background: url(../sprites/PC_Computer_Quake_Menu_Assets_resize.png) -131px -196px;
}

.multiplayer-heading {
    width: 827px;
    height: 89px;
    background: url(../sprites/PC_Computer_Quake_Menu_Assets_resize.png) -965px -100px;
}

.options-heading {
    width: 550px;
    height: 89px;
    background: url(../sprites/PC_Computer_Quake_Menu_Assets_resize.png) -131px -292px;
}

.menu-item {
    position: relative;
    margin-bottom: 1rem;
    margin-left: 48px;
    text-align: left;
    padding-left: 48px;
}

.menu-item:hover {
    cursor: pointer;
}

.menu-item:hover:before {
    content: '';
    top: 16px;
    left: 8px;
    width: 16px;
    height: 16px;
    position: absolute;
    background: url(../sprites/Quake_Cursor_raw.png) 0px 0px;
    animation: quake-cursor 1s steps(6) infinite;
    transform: scale(3);
}

@keyframes quake-cursor {
    100% { background-position: -384px 0; }
  }

.quake-video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
}

.filter-layer {
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0, 0.8);
    z-index: -1;
    position: absolute;
}

.blur {
    filter: blur(15px);
}

.hide {
    visibility: hidden;
}

table {
    width: 100%;
    margin-left: 40px;
}

table {
    border-spacing: 3px;
    border-collapse: separate;
    display: block;
    height: 429px;

    /* Scrollbar Styles */
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: rgb(142, 74, 24) rgb(38, 25, 25);
    scrollbar-width: thin;
}

.slide-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.slide-container p {
    text-align: right;
    flex-grow: 1;
}

/* Webkit Scrollbar Styles */
::-webkit-scrollbar {
    background-color: rgb(38, 25, 25);
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(142, 74, 24);
}

table tr,
table td:nth-child(1) {
    width: 100%;
    text-align: left;
}

table td:nth-child(2) {
    text-align: right;
    padding-right: 20px;
}


/* Slider Styles */
input[type="range"] {
    -webkit-appearance: none;
    width: 10rem;
    height: 0.2rem;
    border-top: 3px solid rgb(148, 122, 93);
    border-left: 3px solid rgb(86, 71, 53);
    border-right: 3px solid rgb(86, 71, 53);
    border-bottom: 3px solid rgb(86, 71, 53);
    border-radius:5px;
    background-color: rgb(20, 20, 20);
}

input[type="range"]::-moz-range-thumb {
    background-color: rgb(142, 74, 24);
    border-top: 2px solid rgb(62, 62, 62);
    border-bottom: 2px solid rgb(0, 0, 0);
    border-left: 4px solid rgb(20, 20, 20);
    border-right: 4px solid rgb(20, 20, 20);
    width: 3px;
    height: 8px;
    box-shadow: 0 1px 3px black;
}

input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
   width: 7px;
   height: 10px;
   background-color: rgb(142, 74, 24);
   border-top: 2px solid rgb(62, 62, 62);
   border-bottom: 2px solid rgb(0, 0, 0);
   border-left: 2px solid rgb(20, 20, 20);
   border-right: 2px solid rgb(20, 20, 20);
   box-shadow: 0 1px 3px black;
}

/* Checkbox Styles */
input[type="checkbox"] {
    visibility: hidden;
}

.on-off::after {
    content: 'Off';
}

input[type="checkbox"]:checked + label::after {
    content: 'On';
}

/* Dropdown Styles */
select {
    /* Reset */
    outline: none;
    border: none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    /* My Styles */
    text-align: right;
    color: rgba(200, 195, 195, 1);
    font-family: Quake;
    font-weight: bold;
}

option {
    background: rgb(20, 20, 20);
}

tr:hover {
    cursor: pointer;
    color: white;
}


/* Modal popup on main menu */
.modal {
    color: white;
    background: rgb(60, 60, 60);
    border: none;
    min-width: 20%;
}

.modal .close-button {
    padding: 5px 40px;
    border: 2px solid rgb(56, 197, 185);
    font-size: 0.8rem;
    color: rgb(56, 197, 185);
    background: rgba(56, 197, 185, 0.2);

}

.modal .close-button span {
    color: rgb(56, 197, 185);
}

.modal::backdrop {
    background: none;
}

/* Don't show quake spinning logo for this menu item */
#cooperative:hover:before {
    background: none;
}