@charset "utf-8";

html {
    overflow-y: scroll;
}

body{
    width: 100%;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: quake;
    src: url(../quake-dpquake/dpquake_.ttf);
}

.wrapper {
    font-family: quake;
    color: brown;
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 2rem;
}